# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Node modules
node_modules
npm-debug.log

# Laravel
/storage/*.key
/vendor
.env.backup
.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
